.main{
    background: white;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto; /*page center */
    margin-top: 4rem;
}

.title {
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
    /*font-weight: 5%;*/
    background: #22b8cf;
    color: white;
}

.main_title_img{
    width:50%;
    
}
